<nav aria-label="Utility Menu" class="nav-secondary">
    <ul class="cluster">
        <li>
            <a href="#" class="nav-link small">People</a>
        </li>
        <li>
            <a href="#" class="nav-link small">Publications</a>
        </li>
        <li>
            <a href="#" class="nav-link small">Contact Us</a>
        </li>
        <li>
            <sl-button variant="primary" size="small">Give Back</sl-button>
        </li>
    </ul>
</nav>
