---
layout: layouts/base.liquid
---
<main class="inner">
    <article>
        <header class="hero">
            <div class="container trim-inline">
                <h1 class="pt-8 with-rule">{{ title }}</h1>
                <div class="with-sidebar">
                    <p class="intro">
                        The Yarshater Center at UCLA would strive to complete the extraordinary undertaking initiated by
                        Ehsan Yarshater in editing <em>A History of Persian Literature</em>. Of the 20 envisaged
                        volumes, nine have been published (2009-2023). It is proposed to complete the project within 10
                        years.
                    </p>
                    <div>sidebar</div>
                </div>
            </div>
            <img src="/assets/images/background-scroll.jpg" alt="" eleventy:widths="1920" loading="eager">
        </header>
        <div class="ucla container margin-x-auto | with-sidebar">
            <div class="content | flow">content</div>
            <div>sidebar</div>
        </div>
    </article>
</main>
