<article class="hero-banner | ucla-banners__ribbon-text">
    <div class="ucla-banner__ribbon" style="--background: url(/static/home-hero-bg.jpg)">
        <div class="container">
            <div class="ucla">
                <div class="col span_12_of_12">
                    <div class="ucla-ribbon ucla-ribbon--brand">
                        <h1 class="ucla-ribbon__text">{{ heading }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ucla">
            <div class="col span_12_of_12">
                <div class="ucla-banner__text ucla-banner__text-white">
                    <div class="container">
                        <div class="ucla">
                            <div class="text | col span_10_of_12 ucla-prose">
                                <p class="lead | mb-6">
                                    Thanks to the vision and generosity of the Persian Heritage Foundation, UCLA has
                                    established the Yarshater Center for the Study of Iranian Literary Traditions,
                                    conceived as a leading research hub for the publication and dissemination of Iranian
                                    literary traditions worldwide.
                                </p>
                                <a
                                    href="/about"
                                    class="ucla-btn ucla-btn--primary-light"
                                >
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
