---
title: A History of Persian Literature
permalink: /research/a-history-of-persian-literature/
image:
    src: folio-180v-shahnameh.jpg
    alt: Shahnameh
    caption: Shahnameh
eleventyNavigation:
    key: "A History of Persian Literature"
    parent: Research
navOptions:
    includeSelf: true
intro: "The Yarshater Center at UCLA would strive to complete the extraordinary undertaking initiated by Ehsan Yarshater in editing <em>A History of Persian Literature</em>. Of the 20 envisaged volumes, nine have been published (2009-2023). It is proposed to complete the project within 10 years."
---
{% layout 'layouts/inner_featured.liquid' %}

{%- block pageNavigation -%}
<div class="content-wrapper">
    <ul class="onpage-nav | cluster">
        <li class="small-title">On this page:</li>
        <li><a href="#an-authoritative-reference">An Authoritative Reference</a></li>
        <li><a href="#centering-persian-poetry">Centering Persian Poetry</a></li>
        <li><a href="#scope-and-duration">Scope and Duration</a></li>
        <li><a href="#related-links">Related Links</a></li>
    </ul>
</div>
{%- endblock -%}

{%- block content -%}
<div class="content-sections">
    <article class="">
        <div class="content-wrapper | with-sidebar sidebar-left">
            <h2>An Authoritative Reference</h2>
            <p class="font-lg">
                <em>A History of Persian Literature</em> has been designed as a comprehensive and richly documented
                work, based on original sources with illustrative examples and a fresh critical approach. As a
                collaborative international venture written by prominent scholars in the field, it should serve as an
                accessible, lively account of Persian literature, as well as a scholarly and authoritative reference
                work.
            </p>
        </div>
    </article>
    <article class="padding-y-section bg-gray-1">
        <div class="content-wrapper | flow adagio">
            <header class="flow andante | paragraph-width margin-x-auto | center-all">
                <h2>Centering Persian Poetry</h2>
                <p class="paragraph-width">
                    Of all the literary and artistic accomplishments of the Persian civilization in its long history, by
                    far the most significant and outstanding is Persian poetry. The jewels in the crown of Persian
                    cultural achievements are the great classical Persian poets Ferdowsi, Omar Khayyam, Nezami, Rumi,
                    Sa’di and Hafez.
                </p>
            </header>
            <ul class="grid-12 | poets-list">
                <li class="image-scale-in">
                    <div class="text | flow">
                        <h3>Ferdowsi</h3>
                        <p>Descriptive text</p>
                    </div>
                    <div class="overlay"></div>
                    <img
                        class=""
                        src="https://www.thephilroom.com/wp-content/uploads/2023/01/Ferdowsi-01.png"
                        alt=""
                    >
                </li>
                <li class="image-scale-in">
                    <div class="text | flow">
                        <h3>Omar Khayyam</h3>
                        <p>Descriptive text</p>
                    </div>
                    <div class="overlay"></div>
                    <img
                        class=""
                        src="https://www.laphamsquarterly.org/sites/default/files/styles/tall_rectangle_custom_user_small_2x/public/images/contributor/khayyam_360x450_0.jpg?itok=ocFFvVbZ&timestamp=1414177689"
                        alt=""
                    >
                </li>
                <li class="image-scale-in">
                    <div class="text | flow">
                        <h3>Nezami</h3>
                        <p>Descriptive text</p>
                    </div>
                    <div class="overlay"></div>
                    <img
                        class=""
                        src="/assets/images/nizami-2.jpg"
                        alt=""
                    >
                </li>
                <li class="image-scale-in">
                    <div class="text | flow">
                        <h3>Rumi</h3>
                        <p>Descriptive text</p>
                    </div>
                    <div class="overlay"></div>
                    <img
                        class=""
                        src="https://ychef.files.bbci.co.uk/624x351/p01xcznd.jpg"
                        alt=""
                    >
                </li>
                <li class="image-scale-in">
                    <div class="text | flow">
                        <h3>Sa’di</h3>
                        <p>Descriptive text</p>
                    </div>
                    <div class="overlay"></div>
                    <img
                        class=""
                        src="https://cdn.britannica.com/00/26600-004-58AFBC72/detail-Sadi-miniature-manuscript-British-Library-Gulistan.jpg"
                        alt=""
                    >
                </li>
                <li class="image-scale-in">
                    <div class="text | flow">
                        <h3>Hafez</h3>
                        <p>Descriptive text</p>
                    </div>
                    <div class="overlay"></div>
                    <img
                        class=""
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/%D8%AA%D8%A7%D8%A8%D9%84%D9%88_%D8%AD%D8%A7%D9%81%D8%B8_%D8%AF%D8%B1_%D8%A7%D9%86%D8%AC%D9%85%D9%86_%D8%A2%D8%AB%D8%A7%D8%B1_%D9%88_%D9%85%D9%81%D8%A7%D8%AE%D8%B1_%D9%81%D8%B1%D9%87%D9%86%DA%AF%DB%8C_%28cropped%29.jpg/477px-%D8%AA%D8%A7%D8%A8%D9%84%D9%88_%D8%AD%D8%A7%D9%81%D8%B8_%D8%AF%D8%B1_%D8%A7%D9%86%D8%AC%D9%85%D9%86_%D8%A2%D8%AB%D8%A7%D8%B1_%D9%88_%D9%85%D9%81%D8%A7%D8%AE%D8%B1_%D9%81%D8%B1%D9%87%D9%86%DA%AF%DB%8C_%28cropped%29.jpg"
                        alt=""
                    >
                </li>
            </ul>
            <div class="paragraph-width margin-x-auto | flow moderato">
                <p>
                    Much has been written on these and other great Persian poets, both in Iran and elsewhere, but it
                    cannot be said that Persian literature has received the attention it deserves. The works of the
                    multitude of poets who have written in Persian in Iran, Afghanistan, Tajikistan and, in particular,
                    in the Indian subcontinent and Anatolia, have remained understudied.
                </p>
                <p>
                    <em>A History of Persian Literature</em> contributes to the broadening of the literary, artistic,
                    and intellectual horizons of its readership and brings to the fore the account of an extremely rich
                    literature with a longstanding tradition that differs from Western literature in important ways.
                </p>
            </div>
        </div>
    </article>
    <article>
        <div class="content-wrapper | grid-12 single-centered">
            <div class="featured-card">
                <a href="#" tabindex="-1" class="frame aspect-1_1">
                    <img
                        src="/assets/images/divan-sultan-ahmad-jalayir_nastaliq.jpg"
                        eleventy:widths="900"
                        alt=""
                    >
                </a>
                <div class="box | flow andante">
                    <header class="flow allegro">
                        <div class="small-title eyebrow">Featured Article</div>
                        <h2>The Significance of Persian Literature</h2>
                    </header>
                    <p>
                        The demand for informative sources on Persian literature and the need for readable translations
                        have assumed a new urgency. <em>A History of Persian Literature</em> will provide a much-needed
                        resource given this need.
                    </p>
                    <sl-button href="#" variant="primary" style="width: fit-content">Read Full Article</sl-button>
                </div>
            </div>
        </div>
    </article>
    <article class="scope">
        <div class="content-wrapper">
            <div class="grid-12 single-centered">
                <div class="center-all">
                    <div class="frame padded">
                        <img
                            src="https://yarshater.ucla.edu/wp-content/uploads/2023/11/9781788318242.jpg"
                            width="600"
                            alt=""
                        >
                    </div>
                </div>
                <div class="flow andante">
                    <h2>Scope and Duration</h2>
                    <p class="font-lg">
                        Of the 20 envisaged volumes of A History of Persian Literature, nine have been published (I, II,
                        III, V, IX, X, XI and XVII, XVIII, 2009-2023). It is proposed to complete the project within 10
                        years.
                    </p>
                    <div class="details-group | flow presto">
                        <sl-details summary="Volume Titles" open>
                            <ol type="I" class="flow allegro">
                                <li>General Introduction to Persian Literature (Ed. J.T.P. de Bruijn, 2009)</li>
                                <li>
                                    Persian Lyric Poetry in the Classical Era, 800-1500: Ghazal, Panegerics and
                                    Quatrains (Ed. Ehsan Yarshater, 2019)
                                </li>
                                <li>
                                    Persian Narrative Poetry in the Classical Era, 800-1500: Romantic and Didactic
                                    Genres (Ed. Mohsen Ashtiany, 2023)
                                </li>
                                <li>Heroic Epic: The Shahnameh and Its Legacy</li>
                                <li>Persian Prose (Ed. Bo Utas, 2021)</li>
                                <li>Religious and Mystical Literature</li>
                                <li>
                                    Persian Poetry, 1500-1900: From the Safavids to the Dawn of the Constitutional
                                    Movement
                                </li>
                                <li>
                                    Persian Poetry in the Indian Subcontinent: Divans, Biographical Anthologies and
                                    Literary Criticism
                                </li>
                                <li>
                                    Persian Literature from Outside Iran: The Indian Subcontinent, Anatolia, Central
                                    Asia, and in Judeo-Persian (Ed. John R. Perry, 2018)
                                </li>
                                <li>Persian Historiography (Ed. Charles Melville, 2012)</li>
                                <li>
                                    Literature of the Early Twentieth Century: From the Constitutional Period to Reza
                                    Shah (Ed. Ali-Asghar Seyed-Gohrab, 2015)
                                </li>
                                <li>Modern Persian Poetry, 1940 to the Present: Iran, Afghanistan, and Tajikistan</li>
                                <li>Modern Fiction and Drama</li>
                                <li>Biographies of the Poets and Writers of the Classical Period</li>
                                <li>Biographies of the Poets and Writers of the Modern Period; Literary Terms</li>
                                <li>General Index</li>
                            </ol>
                        </sl-details>
                        <sl-details summary="Companion Volumes">
                            <ol type="I" start="17" class="flow allegro">
                                <li>
                                    Companion Volume I: The Literature of Pre-Islamic Iran (Ed. Ronald E. Emmerick &
                                    Maria Macuch, 2009)
                                </li>
                                <li>
                                    Companion Volume II: Oral Literature of Iranian Languages: Kurdish, Pashto, Balochi,
                                    Ossetic, Persian and Tajik (Ed. Philip G. Kreyenbroek & Ulrich Marzolph, 2010)
                                </li>
                            </ol>
                        </sl-details>
                        <sl-details summary="Anthologies">
                            <ol type="I" start="19" class="flow allegro">
                                <li>Anthology I: A Selection of Persian Poems in English Translation</li>
                                <li>Anthology II: A Selection of Persian Prose in English Translation</li>
                            </ol>
                        </sl-details>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="">
        <div class="content-wrapper | with-sidebar sidebar-left">
            <h2>Related Links</h2>
            <ul class="related-links | cluster">
                <li><a href="#" class="related-link" hx-boost="true">Iranian Library</a></li>
                <li><a href="#" class="related-link" hx-boost="true">Encyclopedia of the Ancient Iranian World</a></li>
                <li><a href="#" class="related-link" hx-boost="true">The Significance of Persian Literature</a></li>
                <li>
                    <a href="/research/publications/" class="related-link" hx-boost="true">Open Access Publications</a>
                </li>
            </ul>
        </div>
    </article>
</div>
{%- endblock -%}
