---
title: About the Yarshater Center
permalink: /about/
image:
    src: folio-180v-shahnameh.jpg
    alt: Shahnameh
    caption: Shahnameh
eleventyNavigation:
    key: "About"
    parent: Home
navOptions:
    includeSelf: true
---
{% layout 'layouts/inner_section.liquid' %}

{%- block pageNavigation -%}
<div class="content-wrapper">
    <ul class="onpage-nav | cluster">
        <li class="small-title">On this page:</li>
        <li><a href="#our-mission">Our Mission</a></li>
        <li><a href="#the-legacy-of-ehsan-yarshater">The Legacy of Ehsan Yarshater</a></li>
        <li><a href="#our-initiatives">Our Initiatives</a></li>
        <li><a href="#who-we-are">Who We Are</a></li>
    </ul>
</div>
{%- endblock -%}

{% block content %}
<div class="content-sections">
    <article class="padding-y-section bg-gray-1">
        <div class="content-wrapper | with-sidebar sidebar-left">
            <h2>Our Mission</h2>
            <div class="flow andante">
                <p class="font-size-4">
                    The Yarshater Center at UCLA is a leading research hub for the publication and dissemination of
                    Iranian literary traditions worldwide, carrying on the legacy of an iconic scholar, the late Ehsan
                    Yarshater.
                </p>
                <p class="font-lg">
                    Thanks to the vision and generosity of the <a href="#">Persian Heritage Foundation</a>, the
                    Yarshater Center will have a momentous impact on the study of the Iranian world. The establishment
                    of the Yarshater Center under the aegis of the Pourdavoud Institute for the Study of the Iranian
                    World shall allow the new center to benefit from the institutional infrastructure of a
                    well-established and successful institute and dedicate itself wholly to the advancement of its
                    research mandate.
                </p>
                <p class="font-lg">
                    Investment in these proposed initiatives will ensure that, in face of the vulnerabilities to which
                    the cultural heritage of Iran has been subject within the politically unstable confines of West
                    Asia, an institutional home dedicated to the preservation of the literary and cultural patrimony of
                    Iran is created.
                </p>
            </div>
        </div>
    </article>
    <article>
        <div class="content-wrapper | grid-12 single-centered">
            <article class="featured-card">
                <a href="#" tabindex="-1" class="frame aspect-1_1">
                    <img
                        src="/assets/images/ehsan-yarshater.jpg"
                        eleventy:widths="900"
                        alt=""
                    >
                </a>
                <div class="box | flow andante">
                    <header class="flow allegro">
                        <div class="small-title eyebrow">Featured Article</div>
                        <h2>The Legacy of Ehsan Yarshater</h2>
                    </header>
                    <p>
                        The creation of the Yarshater Center will make it possible to carry forth the legacy of an
                        iconic scholar, the late Professor Eshan Yarshater, the inaugural Hagop Kevorkian Professor of
                        Iranian Studies at Columbia University, by initiating a robust publication program at UCLA.
                    </p>
                    <sl-button href="#" variant="primary" style="width: fit-content">Read Full Article</sl-button>
                </div>
            </article>
        </div>
    </article>
    <article>
        <div class="content-wrapper with-border-top | flow adagio">
            <header>
                <h2>Our Initiatives</h2>
            </header>
            <div class="grid-12 grid-spacing-md">
                <article class="card | flow moderato">
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/Demotte_Shahname_002.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <div class="flow allegro">
                            <h3>Iranian Library</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content">Read More</sl-button>
                    </div>
                </article>
                <article class="card | flow moderato">
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/divan-sultan-ahmad-jalayir_nastaliq.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <div class="flow allegro">
                            <h3>Encyclopedia of the Ancient Iranian World</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content">Read More</sl-button>
                    </div>
                </article>
                <article class="card | flow moderato">
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/folio-180v-shahnameh.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <div class="flow allegro">
                            <h3>A History of Persian Literature</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content">Read More</sl-button>
                    </div>
                </article>
            </div>
        </div>
    </article>
    <article class="padding-y-section bg-gray-1">
        <div class="content-wrapper | flow adagio">
            <div class="with-sidebar sidebar-left">
                <header>
                    <h2>Who We Are</h2>
                </header>
                <div class="flow andante">
                    <p class="font-lg">
                        The Yarshater Center is led by the Director M. Rahim Shayegan, Jahangir and Eleanor Amuzegar
                        Professor of Iranian.
                    </p>
                    <p>
                        As generally mandated at UCLA, the work of the Yarshater Center under the aegis of the
                        Pourdavoud Institute will be overseen by a faculty advisory board consisting of senior faculty
                        from across campus who are appointed by the Dean of Humanities and whose work pertains to the
                        study of the Iranian world and related fields.
                    </p>
                    <p>
                        The board provides not only programmatic and financial oversight, but also advises the director
                        in the fulfillment of the Center’s mission and research agenda. We will be announcing the
                        inaugural faculty advisory board for the Yarshater Center soon.
                    </p>
                    <div class="panes diptych">
                        <article class="image-card | flow moderato">
                            <a href="#" class="image-wrapper | frame | image-scale-in">
                                <img src="/assets/images/book-cover-placeholder.jpg" eleventy:widths="600" alt="">
                            </a>
                            <div class="text-wrapper | flow allegro">
                                <h3>Leadership & Staff</h3>
                                <a href="#">View People</a>
                            </div>
                        </article>
                        <article class="image-card | flow moderato">
                            <a href="#" class="image-wrapper | frame | image-scale-in">
                                <img src="/assets/images/book-cover-placeholder.jpg" eleventy:widths="600" alt="">
                            </a>
                            <div class="text-wrapper | flow allegro">
                                <h3>Board</h3>
                                <a href="#">View People</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}
