---
title: A Research Home for Iranian Literary Traditions
eleventyNavigation:
    key: "Home"
---
{% layout 'layouts/home.liquid' %}

{% block intro %}
<div class="content-wrapper">
    <article class="intro | flow andante">
        <p>
            Thanks to the vision and generosity of the Persian Heritage Foundation, UCLA has established the Yarshater
            Center for the Study of Iranian Literary Traditions, conceived as a leading research hub for the publication
            and dissemination of Iranian literary traditions worldwide.
        </p>
        <sl-button href="/about" variant="primary" style="width: fit-content">Our Mission</sl-button>
    </article>
    <article class="intro-news | flow moderato">
        <h2 class="small-title eyebrow">Latest News</h2>
        <div class="grid-12">
            <div class="news-card | flow allegro">
                <div>
                    <a href="#">Yarshater Center Launches Inaugural Program at UCLA</a>
                </div>
                <p>October 17, 2024</p>
            </div>
            <div class="news-card | flow allegro">
                <div>
                    <a href="#">Yarshater Center Establishes Bilingual Repository of Iranian Literary Traditions</a>
                </div>
                <p>June 1, 2024</p>
            </div>
            <div class="news-card | flow allegro">
                <div>
                    <a href="#"
                        >Ancient wisdom: UCLA receives $11 million to establish the Yarshater Center for the Study of
                        Iranian Literary Traditions</a
                    >
                </div>
                <p>November 16, 2023</p>
            </div>
        </div>
        <sl-button variant="primary" style="width: fit-content;" size="small">View More Stories</sl-button>
    </article>
</div>
{% endblock %}

{% block content %}
<div class="content-sections">
    <article>
        <div class="content-wrapper with-border-top | flow adagio">
            <header>
                <h2>Explore</h2>
            </header>
            <div class="grid-12 grid-spacing-md">
                <article class="card | flow moderato">
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/ehsan-yarshater.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <div class="flow allegro">
                            <h3>About Ehsan Yarshater</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content" size="small"
                            >Read More</sl-button
                        >
                    </div>
                </article>
                <article class="card | flow moderato">
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/divan-sultan-ahmad-jalayir_nastaliq.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <div class="flow allegro">
                            <h3>Our Research</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content" size="small"
                            >Read More</sl-button
                        >
                    </div>
                </article>
                <article class="card | flow moderato">
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/book-cover-placeholder.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <div class="flow allegro">
                            <h3>Our People</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content" size="small"
                            >Read More</sl-button
                        >
                    </div>
                </article>
            </div>
        </div>
    </article>
    <article class="padding-y-section bg-gray-1">
        <div class="content-wrapper | grid-12 single-centered">
            <div class="featured-card">
                <a href="#" tabindex="-1" class="frame aspect-1_1">
                    <img
                        src="/assets/images/met-hadith-jami.jpg"
                        eleventy:widths="900"
                        alt=""
                    >
                </a>
                <div class="box | flow andante">
                    <header class="flow allegro">
                        <div class="small-title eyebrow">Featured Resource</div>
                        <h2>Open Access Publications</h2>
                    </header>
                    <p>
                        The Yarshater Center offers open access to a library of publications from a multitude of
                        original sources. The goal of this library is to engage an interested, global audience, as well
                        as broadly raise awareness of the contribution of the Iranian element to the ancient worlds.
                    </p>
                    <sl-button href="/research/publications" variant="primary" style="width: fit-content"
                        >See More</sl-button
                    >
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="content-wrapper with-border-top | flow adagio">
            <header>
                <h2>Upcoming Events</h2>
            </header>
            <div class="grid-12 grid-spacing-md">
                <article class="card event | flow moderato">
                    <div class="date-wrapper">
                        <div class="month">Oct</div>
                        <div class="day">19</div>
                    </div>
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/mostafa-meraji-apdL8vEMJh8-unsplash.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <header class="flow allegro">
                            <h3>Event Title</h3>
                            <div class="event-info | flow flat">
                                <div class="with-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                    </svg>
                                    <span>8:30 am - 10:30 am</span>
                                </div>
                                <div class="with-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                                    </svg>
                                    <span>Royce Hall</span>
                                </div>
                            </div>
                        </header>
                        <div class="flow allegro">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content" size="small"
                            >Event Info</sl-button
                        >
                    </div>
                </article>
                <article class="card event | flow moderato">
                    <div class="date-wrapper">
                        <div class="month">Nov</div>
                        <div class="day">20</div>
                    </div>
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/shahnameh.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <header class="flow allegro">
                            <h3>Event Title</h3>
                            <div class="event-info | flow flat">
                                <div class="with-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                    </svg>
                                    <span>8:30 am - 10:30 am</span>
                                </div>
                                <div class="with-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                                    </svg>
                                    <span>Royce Hall</span>
                                </div>
                            </div>
                        </header>
                        <div class="flow allegro">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content" size="small"
                            >Event Info</sl-button
                        >
                    </div>
                </article>
                <article class="card event | flow moderato">
                    <div class="date-wrapper">
                        <div class="month">Dec</div>
                        <div class="day">12</div>
                    </div>
                    <a href="#" class="image-wrapper | frame | image-scale-in">
                        <img src="/assets/images/Persia-and-map-of-ancient-iran.jpg" eleventy:widths="600" alt="">
                    </a>
                    <div class="text-wrapper | flow andante">
                        <header class="flow allegro">
                            <h3>Event Title</h3>
                            <div class="event-info | flow flat">
                                <div class="with-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                                    </svg>
                                    <span>8:30 am - 10:30 am</span>
                                </div>
                                <div class="with-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                                    </svg>
                                    <span>Royce Hall</span>
                                </div>
                            </div>
                        </header>
                        <div class="flow allegro">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, nesciunt? Eligendi
                                facilis non ducimus numquam.
                            </p>
                        </div>
                        <sl-button href="#" variant="primary" style="width: fit-content" size="small"
                            >Event Info</sl-button
                        >
                    </div>
                </article>
            </div>
        </div>
    </article>
    <article class="">
        <div class="content-wrapper | with-sidebar sidebar-left">
            <h2>Related Links</h2>
            <ul class="related-links | cluster">
                <li><a href="#" class="related-link" hx-boost="true">The Pourdavoud Institute</a></li>
                <li><a href="#" class="related-link" hx-boost="true">The Iran Gazetteer</a></li>
                <li>
                    <a href="#" class="related-link" hx-boost="true"
                        >Department of Near Eastern Languages and Cultures</a
                    >
                </li>
            </ul>
        </div>
    </article>
</div>
{% endblock %}
